/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of clean up */

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.header > * {
  padding: 1rem;
  margin: auto;
  width: 50%;
  text-align: center;
}

nav > ul > li {
  display: inline;
  margin: 0 1rem;
}

nav {
  width: 100%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

nav > ul > li > button {
  width: 6rem;
  height: 1.5rem;
  border-radius: .5rem;
  font-size: 1rem;
  color: #fff;
}

#clear-btn {
  background-color: #445aff;
}

#size-btn {
  background-color: #fc6129;
}

#grey-btn {
  background-color: #414141;
}

#black-btn {
  background-color: #222;
}

#rainbow-btn {
  background-color: #5baf22;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}


.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  width: 500px;
  height: 500px;
  margin: 2rem auto 0 auto;
}

.grid-item {
  background-color: rgb(136, 136, 136);
  color: white;
  height: 100%;
  border: 1px solid #333
}

.grid-item:hover {
  background-color: #555;
  cursor: grab;
}

.hovered {
  background-color: black;
}

.rainbow {
  background-color: rgb(100, 200, 50);
}